@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e1e1e;
  padding-left: 50px;
  font-family: sans-serif;
  color: #bbbbbb;
  font-size: 0.8em;
}

#side-bar-small {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333333;
}
#side-bar-small > div {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
#side-bar-small > div div.icon {
  width: 100%;
  height: 50px;
  margin: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #646464;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
#side-bar-small > div div.icon.selected {
  color: white;
}
@media (hover: hover) and (pointer: fine) {
  #side-bar-small > div div.icon:hover {
    color: white;
  }
}
#side-bar-small > div div.icon.selected {
  border-left: 3px solid white;
  border-right: 3px solid transparent;
}

#main {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.px-1em, .folder {
  padding: 0 1em;
}

.uppercase {
  text-transform: uppercase;
}

#side-expandable {
  min-width: 200px;
  background-color: #252526;
  display: none;
}
#side-expandable.expanded {
  display: block;
}
#side-expandable > p {
  padding: 1em;
}

#right-side {
  width: 100vw;
  overflow-x: auto;
}
#right-side #tabs {
  display: flex;
  background-color: #252526;
}
#right-side #tabs div {
  border-right: 1px solid #1e1e1e;
  background-color: #1e1e1e;
  position: relative;
  padding: 1em 2em;
}
#right-side #tabs div:not(.selected) {
  color: #5c5c5c;
  background-color: #2d2d2d;
}
#right-side p {
  color: white;
  font-family: "Roboto Mono", monospace;
  white-space: nowrap;
}
#right-side p .keyword-color {
  color: #2b6da0;
}
#right-side p .key-color {
  color: #7cbfd8;
}
#right-side p .value-color {
  color: #c27d6a;
}
#right-side p .number-color {
  color: #aeb9a9;
}
#right-side p .array-color {
  color: #dcdcc2;
}
#right-side p .comment-color {
  color: #507c3c;
}
#right-side p i::before {
  content: "";
  border-left: 1px solid #5c5c5c;
}
#right-side p:nth-child(1):before {
  content: "1";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(2):before {
  content: "2";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(3):before {
  content: "3";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(4):before {
  content: "4";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(5):before {
  content: "5";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(6):before {
  content: "6";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(7):before {
  content: "7";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(8):before {
  content: "8";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(9):before {
  content: "9";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
  padding-left: 0.6em;
}
#right-side p:nth-child(10):before {
  content: "10";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(11):before {
  content: "11";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(12):before {
  content: "12";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(13):before {
  content: "13";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(14):before {
  content: "14";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(15):before {
  content: "15";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(16):before {
  content: "16";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(17):before {
  content: "17";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(18):before {
  content: "18";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(19):before {
  content: "19";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(20):before {
  content: "20";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(21):before {
  content: "21";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(22):before {
  content: "22";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(23):before {
  content: "23";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(24):before {
  content: "24";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}
#right-side p:nth-child(25):before {
  content: "25";
  color: #5c5c5c;
  margin: 0 2em 0 1em;
}

.icon-js::before {
  content: "";
  position: absolute;
  top: 13.5px;
  left: 10px;
  background-image: url("icons/js.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  width: 13px;
  height: 13px;
}

.icon-php::before {
  content: "";
  position: absolute;
  top: 13.5px;
  left: 10px;
  background-image: url("icons/php.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  width: 13px;
  height: 13px;
}

.pointer, #source-control button, .document, .folder {
  cursor: pointer;
}

.noselect, .document, .folder {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  display: none;
}

.content > div {
  margin-bottom: 1em;
}

.folder {
  margin-bottom: 5px;
}

.document {
  padding: 0.3em 0;
  outline: none;
  padding-left: 2em;
}
.document:hover {
  background-color: #2e2e2ea8;
}
.document:focus {
  background-color: #007acc81;
}
.document[data-github], .document[data-codepen], .document[data-url] {
  position: relative;
}
.document[data-github] i.fa-external-link-alt, .document[data-codepen] i.fa-external-link-alt, .document[data-url] i.fa-external-link-alt {
  right: 0.5em;
  position: absolute;
  top: 25%;
  opacity: 0.2;
}

#source-control {
  padding: 0 1em;
}
#source-control button {
  width: 100%;
  color: #ffff;
  background-color: #007acc81;
  border: none;
  border-radius: 0;
  height: 2.2em;
}

@media (min-width: 500px) {
  #index-js, #index-php {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  #index-js, #index-php {
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
