$side-bar-small-gray: #333333;
$side-bar-large-gray: #252526;
$main-document-dark: #1e1e1e;
$selection-hover: #2e2e2ea8;
$primary-azul: #007acc81;
$tab-color: #2d2d2d;
$icon-gray: #646464;
$side-bar-small-width: 50px;
$title-gray: #bbbbbb;
$unactive-tab-text-gray: rgb(92, 92, 92);
$code-color-blue: #2b6da0;
$code-color-blue-light: #7cbfd8;
$code-color-orange: #c27d6a;
$code-color-green: #aeb9a9;
$code-color-yellow: #dcdcc2;
$code-color-green-dark: #507c3c;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {
    background-color: $main-document-dark;
    padding-left: $side-bar-small-width;
    font-family: sans-serif;
    color: $title-gray;
    font-size: .8em;
}

#side-bar-small {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $side-bar-small-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $side-bar-small-gray;

    & > div {
        // background-color: pink;
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;

        div.icon {
            width: 100%;
            height: $side-bar-small-width;
            // background-color: green;
            margin: 2px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            color: $icon-gray;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
        }

        div.icon.selected {
            color: white;
        }
        
        @media (hover: hover) and (pointer: fine) {
            div.icon:hover {
                color: white;
            }
        }

        div.icon.selected {
            border-left: 3px solid white;
            border-right: 3px solid transparent;
        }
    }

}

#main {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.px-1em {
    padding: 0 1em;
}

.uppercase {
    text-transform: uppercase;
}

#side-expandable {
    min-width: 200px;
    background-color: $side-bar-large-gray;
    display: none;
    &.expanded {
        display: block;
    }
    & > p {
        padding: 1em;
    }
}


#right-side {
    // border: 1px dashed white;
    width: 100vw;
    overflow-x: auto;
    #tabs {
        display: flex;
        background-color: $side-bar-large-gray;
        white-space: nowrap;
        overflow: auto;

        div {
            border-right: 1px solid $main-document-dark;
            background-color: $main-document-dark;
            position: relative;
            padding: 1em 2em;
        }

        div:not(.selected) {
            color: $unactive-tab-text-gray;
            background-color: $tab-color;
        }
    }

    p {
        color: white;
        font-family: 'Roboto Mono', monospace;
        white-space: nowrap;

        .keyword-color {
            color: $code-color-blue
        }
        .key-color {
            color: $code-color-blue-light
        }
        .value-color {
            color: $code-color-orange
        }
        .number-color {
            color: $code-color-green
        }
        .array-color {
            color: $code-color-yellow
        }
        .comment-color {
            color: $code-color-green-dark
        }

        i::before {
            content: "";
            border-left: 1px solid $unactive-tab-text-gray;
        }

        @mixin line-number($num) {
            content: "#{$num}";
            color: $unactive-tab-text-gray;
            margin: 0 2em 0 1em;
        }

        @for $i from 1 through 9 {
            &:nth-child(#{$i}):before {
                @include line-number($i);
                padding-left: .6em
            }
        }
        @for $i from 10 through 25 {
            &:nth-child(#{$i}):before {
                @include line-number($i)
            }
        }
    }
}

@mixin icon-style($url) {
    $size: 13px;
    content: "";
    position: absolute;
    top: 13.5px;
    left: 10px;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: $size;
    width: $size;
    height: $size;
}

$tabs: 'js', 'php', 'codepen';

@each $tab in $tabs {
    .icon-#{$tab} {
        position: relative;
        
        &::before {
            @include icon-style("icons/#{$tab}.svg");
        }
        &.selected::after, &:hover::after {
            content: "×";
            position: absolute;
            right: .5em;
            top: 25%;
            font-size: 1.5em
        }
    }
}


.pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
    display: none;
}

.content > div {
    margin-bottom: 1em;
}

.folder {
    @extend .px-1em;
    @extend .pointer;
    @extend .noselect;
    margin-bottom: 5px;
}

@for $i from 0 through 2 {
    .sub#{$i} {
        $p: 1em + $i;
        padding-left: $p;
        & + div .document {
            padding-left: $p + 1;
        }
    }
}

.document {
    padding: .3em 0;
    outline: none;
    padding-left: 2em;
    @extend .pointer;
    @extend .noselect;

    &:hover {
        background-color: $selection-hover;
    }

    &:focus {
        background-color: $primary-azul;
    }

    &[data-github], &[data-codepen], &[data-url] {
        position: relative;
        i.fa-external-link-alt {
            right: .5em;
            position: absolute;
            top: 25%;
            opacity: 0.2;
        }
    }
}

#source-control {
    padding: 0 1em;
    button {
        width: 100%;
        color: #ffff;
        background-color: $primary-azul;
        border: none;
        border-radius: 0;
        height: 2.2em;
        @extend .pointer;
    }
}


@media (min-width: 500px) {
    #index-js, #index-php {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) {
    #index-js, #index-php {
        font-size: 2em;
    }
}